# Ignorar configuración y datos sensibles
servidor/config.env
servidor/.env
servidor/bd.js
servidor/basededatos.sql
servidor/backup/
servidor/node_modules/
servidor/gcs-service-account.json
servidor/*.json
